<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="styles.css">
    <title>Repositories List</title>
</head>
<body>
    <main class="repo-list-page">
        <div class="search-bar-container">
            <label>
                <input class="search-bar_input-line" type="text">
            </label>
            <button class="search-bar_search-button">
                <img class="search-bar_search-icon" src="icons/Search-Vector.svg" alt="search-icon">
            </button>
        </div>

        <div class="repo-list-wrapper">
            <div class="repo-list_container">
                <div class="repo-list_tile">
                    <div class="tile_avatar">
                        <span class="avatar-text">K</span>
                    </div>
                    <div class="tile_content">
                        <h2 class="tile_repo-name">kts-school-frontend</h2>
                        <p class="tile_org-name">ktsstudio</p>
                        <div class="tile_info">
                            <div class="tile_rating">
                                <img class="tile_star-icon" src="icons/Star-Vector.svg" alt="star-icon">
                                <span class="tile_rating-number">123</span>
                            </div>
                            <p class="tile_date">Updated 21 Jul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="repo-list-container">
                <div class="repo-list_tile">
                    <div class="tile_avatar">
                        <span class="avatar-text">K</span>
                    </div>
                    <div class="tile_content">
                        <h2 class="tile_repo-name">kts-school-frontend</h2>
                        <p class="tile_org-name">ktsstudio</p>
                        <div class="tile_info">
                            <div class="tile_rating">
                                <img class="tile_star-icon" src="icons/Star-Vector.svg" alt="star-icon">
                                <span class="tile_rating-number">123</span>
                            </div>
                            <p class="tile_date">Updated 21 Jul</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="repo-list-container">
                <div class="repo-list_tile">
                    <div class="tile_avatar">
                        <span class="avatar-text">K</span>
                    </div>
                    <div class="tile_content">
                        <h2 class="tile_repo-name">kts-school-frontend</h2>
                        <p class="tile_org-name">ktsstudio</p>
                        <div class="tile_info">
                            <div class="tile_rating">
                                <img class="tile_star-icon" src="icons/Star-Vector.svg" alt="star-icon">
                                <span class="tile_rating-number">123</span>
                            </div>
                            <p class="tile_date">Updated 21 Jul</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>